<?xml version="1.0"?>
<launch>
  
  <arg name="viz" default="false" />

  <param name="use_sim_time" value="true"/>
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find liodom)/config/logging.conf" />

  <node pkg="liodom"
        type="liodom_mapping"
        name="liodom_mapper"
        output="screen"
        respawn="false">

    <param name="voxel_xysize" type="double" value="40.0" />
    <param name="voxel_zsize" type="double" value="50.0" />
    <param name="resolution" type="double" value="0.8" />    
    <param name="fixed_frame" type="string" value="world" />
    
    <remap from="~points" to="/liodom/edges" />
  </node>

</launch>